<% products.each do |product| %>
  <div class="col mb-5">
    <div class="card h-100">
      <!-- Product image-->
      <% if product.image.present? %>
        <%= link_to image_tag(product.image, class:"card-img-top"), product_path(product.id) %>
      <% else %>
        <%= image_tag 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg' %>
      <% end %>
      <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">
            <%= product.name %>
          </h5>
          <!-- Product price-->
          <%= product.price %>円 
        </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <%= form_with url: carts_path, model: product, class: 'text-center', method: :post, local: true do |form| %>
          <%= form.text_field :id ,class: 'd-none' %>
          <%= form.number_field :quantity , class: 'form-control text-center me-3 d-none', value: 1, style: 'max-width: 3rem' %>
          <%= button_tag type: "submit", class: "btn btn-outline-dark flex-shrink" do %>
            <i class="bi-cart-fill me-1"></i> Add to cart
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
