<body>
  <!-- Product section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <%= image_tag(@product.image, class:"card-img-top mb-5 mb-md-0") %>
        </div>
        <div class="col-md-6">
          <h1 class="display-5 fw-bolder">
            <%= @product.name %>
          </h1>
          <div class="fs-5 mb-5">
            <span>
              <%= @product.price %>円 
            </span>
          </div>
          <p class="lead">
            <%= @product.description %>
          </p>
          <div>
            <%= form_with url: carts_path, model: @product, class: 'd-flex', method: :post, local: true do |form| %>
              <%= form.text_field :id ,class: 'd-none' %>
              <%= form.number_field :quantity , class: 'form-control text-center me-3', value: 1, style: 'max-width: 5rem' %>
              <%= button_tag type: "submit", class: "btn btn-outline-dark flex-shrink" do %>
                <i class="bi-cart-fill me-1"></i> Add to cart
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Related items section-->
  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <%= render 'product', products: @related_products %>
      </div>
    </div>
  </section>
</body>
